@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Rubik";
}

.menu-style {
  height: 100vh;
  width: 200px;
  position: fixed;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00e05a !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #067513 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #09835e !important;
  font-size: 25px;
}

.ant-tabs-tab-btn {
  font-size: 25px;
}

.ant-tabs-tab:hover {
  color: #09835e !important;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #09835e !important;
}

.ant-tabs-ink-bar {
  background: #09835e !important;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid #09835e !important;
}

.ant-list-item-meta-description {
  white-space: break-spaces;
}

.ant-form-item-label > label {
  font-size: 20px !important;
}

.ant-card-body {
  white-space: break-spaces;
}
